@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;600;700&display=swap');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'BArlow Condensed';

}

html{
	scroll-behavior: smooth;
}


.part-1{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../Car-Images/merc-glc.jpg");
	background-size: cover;
	background-position: center;
}

.nav{
  	/* background-color: rgba(255, 255, 255, 0.02); */
  	/* Position the navbar at the top of the page */
	position: absolute;
	left: 0;
	top: 0; 
  	width: 100%; 
	/* Full width */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 2;
	max-height: 100vh;
}

.logo{
	color: #fff;
	font-size: 50px;
	cursor: pointer;
	margin-left: -100px;
	margin-top: -20px;
	/* Set the navbar to fixed position */
	position: fixed; 
}

.logo a{
	text-decoration: none;

}

span{
	color: #e50047;
}

nav ul{
	margin-left: 30px;
	position: absolute;
	top: 30px;
	right: 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 16px;
	position: relative;

}

nav ul li a{
	text-decoration: none;
	color: white;
	border-radius: 30px;
	padding: 5px 12.5px;
	transition: all .5s;
	font-size: 17.5px;
	font-weight: 500;
	text-transform: uppercase;
}

nav ul li a:hover{
	color: #e50047;
	
}

.content{
	position: absolute;
	top: 50%;
	left: 10%;
	color: white;
	line-height: 40px;
	transform: translateY(-50%);
	font-size: 20px;
	z-index: 0;
}

.content h1{
	margin: 20px 0px 20px;
	font-size: 75px;
}

.content h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;

}

.content h3{
	margin-bottom: 50px;
	width: 350px;
}

.newsletter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border-radius: 30px;
	border: 1px solid #e50047;
	outline: none;

}

.newsletter form input:last-child{
	display: inline-block;
	padding: 10px 25px;
	border-radius: 30px;
	border: none;
	position: absolute;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	cursor: pointer;
	background-color: #e50047;
	right: 5px;
	top: 5px;
}

.toyota-sect .main img{
	width: 430px;
	height: auto;
	border-radius: 20px;

}

.toyota-sect{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;

}

.main{
	width: 1100px;
	/* max-width: 95%; */
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-toyota{
	width: 550px;
	vertical-align: top;
}

.about-toyota h2{
	font-size: 75px;
	color: white;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.about-toyota h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 20px;
}

.about-toyota p{
	line-height: 28px;
	letter-spacing: 1px;
	font-size: 18px;
	color: #fcfc;
}

strong, em{
	color: darksalmon;
}

button{
	background-color:  #e50047;
	color: #000;
	text-decoration: none;
	padding: 13px 30px;
	border-radius: 30px;
	border: 2px solid transparent;
	cursor: pointer;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	transition: .4s;
}

button:hover{
	/* background-color: #ee165acb; */
	color: #fff;
}

.car-logo{
	cursor: pointer;
	width: 250px;
	/* height: 200px; */
}

nav .fa-solid{
	display: none;
}


@media(max-width:960px){

	.logo{
		margin-left: -20px;
		margin-top: -40px; 
	}

	nav ul{

		position: absolute;
		top: 0;
		right: -200px;
		min-height: 100vh;
		background-color: rgba(229, 0, 71,0.6);
		padding: 20px 10px;

	}
	
	
	nav ul li{
		display: block;
		z-index: 2;
	}

	nav ul li a{
		color: #000;
	}

	nav ul li a:hover{
		color: white;
	}

	nav .fa-solid{
		display: block;
		margin: 10px;
		font-size: 22px;
		color: white;
		cursor: pointer;
	}

	.main{
		 width: 100%; 
		margin: 0 auto;
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}




}

